body {
  overflow: hidden;
}

img {
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.portal-home  {
  transform: rotate(-4deg);
  width: 100%;
  margin: 80px 0;
}

@media screen and (min-width: 1024px) {
  .portal-home  {
    transform: rotate(-4deg);
    width: 40%;
    position: absolute;
    right: 0;
    top: 120px;
  }
}

main {
  justify-content: flex-start;
}

ul.list {
  list-style: none; /* Remove default bullets */
}

ul.list li {
  margin: 24px 0;
}

ul.list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--color-cedar-chest); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

main section.case {
  max-width: var(--width-max-content);
  padding: 0 var(--padding-s);
  margin-top: 120px;
  display: grid;
  grid-column-gap: 40px;
}

main section.case h1, main section.case h2, main section.case p  {
  max-width: var(--width-max-body);
}

@media screen and (min-width: 768px) {
  main section.case {
    padding: 0 var(--padding-l);
    margin-top: 240px;
  }
}
