body {
  overflow: hidden;
}

.emphasize {
  color: var(--color-cedar-chest);
  font-style: italic;
  font-weight: 500;
}

img {
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
  width: 100%;
}

figure {
  margin: 80px auto;
}

figcaption {
  margin-top: 16px;
  text-align: center;
}

.portal-home, .polertiek-header  {
  width: 80%;
  margin: 80px auto;
  max-height: 960px;
  object-fit: cover;
  object-position: 50% 0;
}

.app-store {
  width:50%;
  margin: 80px auto;
}

.second-release, .mockup, .broccerlie {
  display: grid;
  grid-column-gap: 40px;
  grid-template-areas:
                      "a b"
                      "c c";
}

.workshop {
  display: grid;
  grid-template-areas:
                      ". . ."
                      "caption caption caption";
}

.design-sprint, .whiteboard {
  display: grid;
  grid-template-areas:
                      "a b"
                      "c c";
}

.wireframes {
  display: grid;
  grid-column-gap: 40px;
  align-items: center;
  grid-template-areas:
                      "a b"
                      "a c"
                      "d d";
}


.polertiek-showcase {
  display: grid;
  grid-column-gap: 40px;
  align-items: center;
  grid-template-areas:
                      "a b"
                      "c d"
                      "e f"
}

.polertiek-showcase img {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .second-release {
    display: grid;
    grid-column-gap: 40px;
    grid-template-areas:
                        "a b"
                        "c c";
  }
}

@media screen and (min-width: 1240px) {
  .portal-home, .polertiek-header  {
    transform: rotate(-4deg);
    width: 26vw;
    position: absolute;
    right: -80px;
    top: 120px;
    max-height: 1600px;
  }
}

@media screen and (min-width: 1320px) {
  .app-store {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 26vw;
  }
}

main {
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

ul {
  list-style: none;
}


ul.list {
  list-style: none; /* Remove default bullets */
}

ul.list li, ul.list-no-style li {
  margin: 24px 0;
}

ul.list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--color-cedar-chest); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -24px;
}

ul.challenges {
  padding: 40px 40px 40px 64px;
  background: #F7F5F7;
  border-radius: 8px;
}

ul.challenges li {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

main section.case {
  max-width: var(--width-max-content);
  padding: 0 var(--padding-s);
  margin-top: 120px;
  display: grid;
  grid-column-gap: 40px;
}

main section.case h1, main section.case h2, main section.case p  {
  max-width: var(--width-max-body);
}

@media screen and (min-width: 768px) {
  main section.case {
    padding: 0 var(--padding-l);
    margin-top: 240px;
  }
}
